@use 'sass:meta' as *;

@mixin make-classes($options: ()) {
  @each $rule in $options {
    $prefix: map-get($rule, 'prefix');
    $property: map-get($rule, 'property');
    $values: map-get($rule, 'values');

    @if type-of($values) == list {
      @each $value in $values {
        #{$prefix}-#{$value} {
          #{$property}: #{$value};
        }
      }
    }

    @if type-of($values) == map {
      @each $name, $value in $values {
        #{$prefix}-#{$name} {
          #{$property}: #{$value};
        }
      }
    }
  }
}
