@use 'sass:map' as *;
@use 'make-side-value' as *;

$sides: ('t', 'b', 'r', 'l', 'y', 'x');

@function make-sizes-sides($sufix, $value) {
  $result: ();

  $result: merge(
    $result,
    (
      '#{$sufix}': $value
    )
  );

  @each $side in $sides {
    $side-val: (
      '#{$side}-#{$sufix}': make-side-value($side, $value)
    );
    $result: merge($result, $side-val);
  }

  @return $result;
}
