$desktop: (
  'preffix': 'lg',
  'columns': 12,
  'margin': 80px,
  'gutter': 40px,
  'breakpoint': 1400px
);

$tablet: (
  'preffix': 'md',
  'columns': 12,
  'margin': 60px,
  'gutter': 30px,
  'breakpoint': 1020px
);

$mobile: (
  'preffix': 'sm',
  'columns': 4,
  'margin': 32px,
  'gutter': 20px,
  'breakpoint': 620px
);
