@function calc-grid-width($grid) {
  $margin: map-get($grid, 'margin');
  $breakpoint: map-get($grid, 'breakpoint');

  @return 100% - (math.div($margin * 2, $breakpoint) * 100%);
}

@function calc-gutter($grid) {
  $gutter: map-get($grid, 'gutter');
  $breakpoint: map-get($grid, 'breakpoint');
  $margin: map-get($grid, 'margin');

  @return math.div($gutter, ($breakpoint - ($margin * 2))) * 100%;
}

@function calc-col-width($i, $columns) {
  @return math.div(100%, $columns) * $i;
}

@mixin col-props($i, $columns, $gutter) {
  box-sizing: border-box;
  flex-basis: calc-col-width($i, $columns);
  max-width: calc-col-width($i, $columns);
  padding-left: math.div($gutter, 2);
  padding-right: math.div($gutter, 2);
}
