@import './helpers';
@import './columns';

@import '../../settings/grid';

$desktop-width: calc-grid-width($desktop);
$tablet-width: calc-grid-width($tablet);
$mobile-width: calc-grid-width($mobile);
$desktop-gutter: calc-gutter($desktop);
$tablet-gutter: calc-gutter($desktop);
$mobile-gutter: calc-gutter($desktop);
$tablet-breakpoint: map-get($tablet, 'breakpoint');
$mobile-breakpoint: map-get($mobile, 'breakpoint');

.container {
  @extend .flex;

  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  flex-wrap: wrap;

  max-width: map-get($desktop, 'breakpoint');
  width: $desktop-width;

  @media screen and (max-width: $tablet-breakpoint) {
    width: $tablet-width;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    width: $mobile-width;
  }

  &-fluid {
    width: 100%;
  }

  .col {
    @include make-grid-columns($desktop);

    @media screen and (max-width: $tablet-breakpoint) {
      @include make-grid-columns($tablet);
    }

    @media screen and (max-width: $mobile-breakpoint) {
      @include make-grid-columns($mobile);
    }
  }
}
